<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>HOME</title>
 </head>
 <body>
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" href="/">HOME</a>
    <a class="py-2 d-none d-md-inline-block" href="/users/">USERS</a>
    <a class="py-2 d-none d-md-inline-block" href="/requirements/">REQUIREMENTS</a>
    <a class="py-2 d-none d-md-inline-block" href="/astros/">ASTROS</a>
  </div>
  <h1>HOME PAGE</h1>
 </body>
</html>