<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
{% block body %}<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" href="/add_author/">Добавить Автора</a>
    <a class="py-2 d-none d-md-inline-block" href="/add_book/">Добавить Книгу</a>
    <a class="py-2 d-none d-md-inline-block" href="/add_genre/">Добавить Жанр</a>
  </div>
</nav>{% endblock body %}
</body>
</html>
