<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requirements</title>
</head>
<body>
<div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" href="/">HOME</a>
    <a class="py-2 d-none d-md-inline-block" href="/users/">USERS</a>
    <a class="py-2 d-none d-md-inline-block" href="/requirements/">REQUIREMENTS</a>
    <a class="py-2 d-none d-md-inline-block" href="/astros/">ASTROS</a>
</div>
<br>
<h1>REQUIREMENTS</h1>
<br>
<table border="3">
{% for requirement_str in requirements_list %}
   <tr>
        <th align="left"> {{ requirement_str }} </th>
   </tr>
{% endfor %}
</table>
</body>
</html>