<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USERGEN</title>
</head>
<body>
<div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" href="/">HOME</a>
    <a class="py-2 d-none d-md-inline-block" href="/users/">USERS</a>
    <a class="py-2 d-none d-md-inline-block" href="/requirements/">REQUIREMENTS</a>
    <a class="py-2 d-none d-md-inline-block" href="/astros/">ASTROS</a>
</div>
<h1>
    <button value="Refresh Page" onClick="window.location.href=window.location.href">Refresh Page</button>
</h1>
<h1>User generator</h1>
<form action="." method="post">
    <input type="number" required name="usr_num">
    <input type="submit" value="Generate">
</form>
<br>
<table border="5">
{% for key, value in users.items() %}
   <tr>
        <th align="left"> {{ key }} </th>
        <th align="left"> {{ value }} </th>
   </tr>
{% endfor %}
</table>
</body>
</html>