{% extends 'base.html' %}

{% block content %}
<img class="mt15" width="700px" src="/static/img/auction.png">
<form action="/trade" method="post">
    <div class="form-group mt15">
        <label for="exampleInputEmail1">Login</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
        <small id="emailHelp" class="form-text text-muted">Select your own unique login</small>
    </div>
    <button type="submit" class="btn btn-info mt15">Register</button>
</form>
{% endblock content %}
