<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>HOME</title>
 </head>
 <body>
<h1>
    <form action="/users/"><button>USERS</button></form>
    <form action="/requirements/"><button>REQUIREMENTS</button></form>
    <form action="/astros/"><button>ASTRONAUTS</button></form>
    <form action="https://www.google.com/" target="_blank"><button>GOOGLE</button></form>
    <form action="https://github.com/DaniilOmelianenko/Python_course2" target="_blank"><button>MY_REPO</button></form>
</h1>
 </body>
</html>